Resume Reviewer.json
{
  "name": "Resume Reviewer",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "20a5ea5b-9c52-43d5-bcc8-048fffcfc88b",
              "leftValue": "={{$json.body.MessageType}}",
              "rightValue": "document",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1136,
        16
      ],
      "id": "0e4f892e-4199-4bbe-af9a-627c6604a540",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{$json.body.MediaUrl0}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -912,
        -80
      ],
      "id": "333a66f5-a6a2-4977-9a72-d42116c744d6",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "jnPgCI5WCA0YdaJQ",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "={{ $('Webhook').first().json.body.From }}",
        "message": "👋 Welcome to ResumeAI!  Please upload your resume in PDF format.  I'll analyze it and provide: ✅ ATS Score ✅ Strengths ✅ Weaknesses ✅ Missing Skills ✅ Improvement Suggestions",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -912,
        112
      ],
      "id": "66b19564-4e99-4b49-a9f8-7ae382e81f3c",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "iq7g3Qeys0UXnKOa",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-ai",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        16
      ],
      "id": "44786cbf-11dc-4f86-83db-d50ddb4aa396",
      "name": "Webhook",
      "webhookId": "349214e0-4c5c-4bf3-bec5-c7401edcbe2c"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -688,
        -80
      ],
      "id": "36874f48-fdbc-4289-87a9-e20521a035a7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Document:\n\n{{ $json.text }}\n\nIs this a resume?",
        "options": {
          "systemMessage": "You are a strict resume classifier.\n\nA resume MUST contain information about a PERSON applying for a job.\n\nA valid resume usually contains:\n- Person's Name\n- Email or Phone\n- Education\n- Experience\n- Skills\n- Projects\n- Certifications\n- Achievements\n\nThese documents are NOT resumes:\n- Manuals\n- Policies\n- Prompts\n- Documentation\n- Reports\n- Assignments\n- Books\n- Articles\n- Job Descriptions\n- AI prompts\n- Knowledge bases\n\nIf the document is NOT clearly a resume,\nreply ONLY:\n\nnot_resume\n\nIf it is clearly a resume,\nreply ONLY:\n\nresume\n\nNever explain.\nNever output anything else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -464,
        -80
      ],
      "id": "4797a7a9-6c11-4184-a42e-61b78d92bc61",
      "name": "Resume Classifier"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -384,
        144
      ],
      "id": "3191a880-e0bc-4a48-b6bc-c65ef0f77fbf",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "FwAN6sfNyW7FTRlI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "02561466-3675-43cb-98f3-cc53e3509100",
              "leftValue": "={{ $json.output }}",
              "rightValue": "resume",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        -80
      ],
      "id": "ec1629bd-0185-4b71-874f-34a93d339f6b",
      "name": "If1"
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "={{ $('Webhook').first().json.body.From }}",
        "message": "=❌ This doesn't appear to be a resume.\n\nPlease upload a valid resume PDF containing your education, skills, experience and projects.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        176,
        64
      ],
      "id": "c1b6e006-475d-4787-8245-182251f45a17",
      "name": "Send an SMS/MMS/WhatsApp message2",
      "credentials": {
        "twilioApi": {
          "id": "iq7g3Qeys0UXnKOa",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Extract from File\"].json.text }}",
        "options": {
          "systemMessage": "You are a strict resume parsing engine. Extract ONLY information explicitly present in the text. Never invent, infer, or guess values. Output ONLY valid JSON, no markdown fences, no commentary.\n\nSchema:\n{\n  \"name\": string, \"email\": string, \"phone\": string,\n  \"linkedin\": string|null, \"github\": string|null, \"portfolio\": string|null,\n  \"location\": string, \"summary\": string|null,\n  \"education\": [{\"institution\",\"degree\",\"field\",\"cgpa_or_percent\",\"start_date\",\"end_date\"}],\n  \"experience\": [{\"company\",\"role\",\"start_date\",\"end_date\",\"bullets\":[string]}],\n  \"projects\": [{\"name\",\"tech_stack\":[string],\"bullets\":[string],\"link\"}],\n  \"skills\": {\"technical\":[string],\"tools\":[string],\"soft\":[string]},\n  \"certifications\": [string], \"achievements\": [string]\n}\nUse null or [] for missing sections. Preserve bullet wording as-is. Normalize dates to \"MMM YYYY\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        -336
      ],
      "id": "e718fcd6-5ff9-4ae8-867c-099cdbe58054",
      "name": "Resume Parser"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        192,
        -112
      ],
      "id": "36b48641-ed9c-472d-8e0b-eb912aea8a43",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "FwAN6sfNyW7FTRlI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Resume Parser\"].json.output }}",
        "options": {
          "systemMessage": "You are an ATS (Applicant Tracking System) simulator. Score strictly and consistently — identical resumes must get identical scores. Use this rubric, all scores 0-10:\n\n- ats_score: overall keyword density + parseability for ATS systems\n- format_score: standard section headers present, no missing contact info, consistent structure\n- projects_score: relevance, depth, and presence of quantified outcomes (numbers, %, impact)\n- skills_score: breadth + relevance of skills to target domain\n- experience_score: 0 if no work experience; otherwise score by action verbs + quantified impact\n- education_score: completeness and relevance\n\nBe a harsh grader. Average resumes = 4-6. Only exceptional, quantified, keyword-rich resumes get 8-10.\n\nOutput ONLY valid JSON: {ats_score, format_score, projects_score, skills_score, experience_score, education_score}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        -224
      ],
      "id": "80b21362-96c1-4289-82b1-9668688afcfe",
      "name": "ATS Scorer"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        544,
        0
      ],
      "id": "d01955f8-d234-4b73-9c6b-2a8dc6d01f6e",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "FwAN6sfNyW7FTRlI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "00d97585-5dff-45ba-8ce0-41ec5b6dddc3",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "FwAN6sfNyW7FTRlI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Resume Details:\n{{ $node[\"Resume Parser\"].json.output }}\n\nATS Analysis:\n{{ $node[\"ATS Scorer\"].json.output }}",
        "options": {
          "systemMessage": "Based on the Resume Details and ATS Analysis below, generate a final hiring-manager-style review. Be specific — reference actual project/skill names from the resume, not generic statements.\n\nIMPORTANT: Keep every bullet point under 12 words. Be concise — this will be sent as a WhatsApp message with a strict length limit.\n\nResume Details:\n{{ $node[\"Resume Parser\"].json.output }}\n\nATS Analysis:\n{{ $node[\"ATS Scorer\"].json.output }}\n\nOutput ONLY JSON:\n{\n  \"ats_score\": number out of 100 (weighted average ×10: ats 30%, skills 20%, projects 20%, experience 15%, format 10%, education 5%),\n  \"verdict\": \"Excellent\" (85-100) | \"Good\" (70-84) | \"Average\" (50-69) | \"Below Average\" (30-49) | \"Poor\" (0-29),\n  \"strengths\": [2-3 short specific points, max 12 words each],\n  \"weaknesses\": [2-3 short specific points, max 12 words each],\n  \"missing_skills\": [3-4 short skill names only, no explanations],\n  \"suggested_improvements\": [2-3 short specific points, max 12 words each],\n  \"one_line_summary\": string, max 20 words\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        -224
      ],
      "id": "a82ca2c1-d5d7-4af7-905f-d880e1edd097",
      "name": "Final ats score and Review"
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "={{ $('Webhook').first().json.body.From }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1392,
        -224
      ],
      "id": "e0d48509-2272-4ef0-92e5-a8f7039f5e9e",
      "name": "Send an SMS/MMS/WhatsApp message1",
      "credentials": {
        "twilioApi": {
          "id": "iq7g3Qeys0UXnKOa",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $input.first().json.output;\n\nraw = raw.replace(/```json|```/g, '').trim();\n\nlet data;\ntry {\n  data = JSON.parse(raw);\n} catch (e) {\n  return [{ json: { message: \"Sorry, something went wrong while generating your review. Please try again.\" } }];\n}\n\nconst limit = (arr, n) => (arr || []).slice(0, n);\n\nconst message = `📋 *Resume ATS Review*\n\n⭐ *ATS Score:* ${data.ats_score}/100\n🎯 *Verdict:* ${data.verdict}\n\n✅ *Strengths:*\n${limit(data.strengths, 3).map(s => `• ${s}`).join('\\n')}\n\n⚠️ *Weaknesses:*\n${limit(data.weaknesses, 3).map(w => `• ${w}`).join('\\n')}\n\n🧩 *Missing Skills:*\n${limit(data.missing_skills, 4).map(s => `• ${s}`).join('\\n')}\n\n💡 *Suggested Improvements:*\n${limit(data.suggested_improvements, 3).map(i => `• ${i}`).join('\\n')}\n\n📝 *Summary:* ${data.one_line_summary}\n\n_(AI-estimated score based on resume content)_`;\n\nreturn [{ json: { message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -224
      ],
      "id": "1a97a0dd-ea84-42c7-a01a-73089fc96dd5",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Resume Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Resume Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Resume Classifier": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Resume Parser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message2": {
      "main": [
        []
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Resume Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Resume Parser": {
      "main": [
        [
          {
            "node": "ATS Scorer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "ATS Scorer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ATS Scorer": {
      "main": [
        [
          {
            "node": "Final ats score and Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Final ats score and Review",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Final ats score and Review": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message1": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "94aafc1e-026b-419c-8fcf-c31d56142ddb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2b82f3961730b297456d3073691efb7648bbb00ac004dbdaab994d5de219c93"
  },
  "nodeGroups": [],
  "id": "umut8knnWTc6AuNL",
  "tags": []
}